.day-forecast {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(500px, 1fr)
    minmax(250px, 1.67fr)
    minmax(250px, 1.67fr)
    minmax(250px, 1.67fr)
    minmax(250px, 3.33fr)
    minmax(250px, 1.67fr)
    minmax(250px, 3.33fr)
    minmax(250px, 1.67fr);

  .color-red {
    color: red;
  }
  .color-blue {
    color: blue;
  }
}
